.project {
  display: flex;

  align-items: center;
  flex-direction: column;

  box-sizing: border-box;
  padding-top: 70px;

  .top {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;

    h1 {
      color: white;
      font-size: 2.5rem;
      transition: color 0.3s ease;

      &:hover {
        color: #ff6600;
      }
    }
  }

  .bottom {
    width: 100%;

    display: flex;
    justify-content: center;

    .list {
      display: flex;
      flex-direction: column;
      width: 80%;
      max-width: 700px;

      .item {
        display: flex;
        flex-direction: column;
        margin: 12px;
        // background: linear-gradient(to top, #ff9999, #0e9fff);
        background: rgb(2, 0, 36);
        background: linear-gradient(
          357deg,
          rgba(2, 0, 36, 1) 0%,
          rgba(9, 28, 121, 1) 38%,
          rgba(0, 212, 255, 1) 100%
        );

        padding: 15px;
        border-radius: 10px;
        transition: transform 0.3s ease, background-color 0.3s ease;

        &:hover {
          transform: scale(1.02);
          background-color: #3c5a72;
        }

        h3 {
          color: white;
          margin-bottom: 10px;
          font-size: 1.5rem;
          transition: color 0.3s ease;

          &:hover {
            color: #ff6600;
          }
        }

        .inside {
          display: flex;
          flex-direction: column;
          padding: 10px;
          border-left: 2px solid rgb(118, 115, 115);
          margin: 10px 0;

          button {
            width: 50px;
            height: 25px;

            color: white;
            border-radius: 50%;
            transition: background-color 0.3s ease, transform 0.3s ease;

            &:hover {
              background-color: #ff6600;
              transform: scale(1.1);
            }
          }

          span {
            color: white;
            font-size: 1rem;
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .top h1 {
      font-size: 2rem;
    }

    .bottom {
      .list {
        width: 90%;
      }

      .item h3 {
        font-size: 1.3rem;
      }
    }
  }

  @media (max-width: 768px) {
    .top h1 {
      font-size: 1.8rem;
    }

    .bottom {
      .list {
        width: 90%;
        align-items: center;
      }

      .item {
        width: 50%;
      }
      .item h3 {
        font-size: 1.2rem;
      }

      .inside span {
        font-size: 0.9rem;
      }
    }
  }

  @media (max-width: 480px) {
    .top h1 {
      font-size: 1.5rem;
    }

    .bottom {
      .list {
        width: 100%;
      }

      .item h3 {
        font-size: 1rem;
      }

      .inside span {
        font-size: 0.8rem;
      }
    }
  }
  @media (max-width: 280px) {
    height: auto;
    .top h1 {
      font-size: 1.5rem;
    }
    .item {
      width: 50%;
    }

    .bottom {
      padding-bottom: 0px;
      .list {
        width: 100%;
        .item h3 {
          font-size: 10px;
        }
      }

      .list {
        .item {
          .inside span {
            font-size: 12px;
          }
        }
      }
    }
  }
}
